body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

.main-page {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}

.parallax-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.23);
}

.parallax-section::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -240px;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
}

.parallax-section_1 {
    padding-bottom: 130px;
}

.parallax-section_1::before {
    background-image: url(../img/html_css_homework_homework6_img_header-bg.jpeg);;
    background-color: rgba(0, 0, 0, 0.6);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #1d2124;
    position: relative;
}


.logo {
    padding-left: 77px;  
    font-weight: bold;
    font-size: 20px;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 73px;
    background-color: #171a1c;
    background-image: url(../img/logo-img.png);
    background-position: center;
    background-repeat: no-repeat;
    
}

.container {
    width: 1171px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.menu {
    width: 705px;
    display: flex;
    justify-content: space-between;
}

.menu-item {  
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 27px;
}

.btn {
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

.top-section-title {
    padding-top: 130px;
    text-transform: uppercase;
    color: white;
    font-size: 27px;
    font-weight: 400;
}


.btn_search {
    position: absolute;
    height: 100%;
    width: 73px;
    left: calc(100% - 73px);
    background-size: 20px;
    background-color: #171a1c;
    background-image: url(../img/fa-search%20.png);
    background-repeat: no-repeat;
    background-position: center;
}

.top-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container .btn {
    margin-top: 45px;
    width: 170px;
    height: 55px;
    border-radius: 5px;
    font-size: 18px;
}

.btn:not(:last-child) {
    margin-right: 10px;
}

.style_btn1 {
    background-color: #89ca62;
}

.style_btn2 {
    background-color: #14b9d5;
}

.section_1 {
    background-color: #f2f2f2;
}

.section-title {
    color: #18b4cf;
    padding-top: 62px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.flex-container {
    display: flex;
    padding-bottom: 75px;
}

.card-column {
    display: flex;
    margin-top: 53px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%;    
    background-repeat: no-repeat;
}

.card-column:not(:last-child) {
    margin-right: 20px;
}

.card {
    background-repeat: no-repeat;
}

.card:not(:last-child) {
    margin-bottom: 32px;
}

.text {
    padding: 22px 21px;
    font-size: 17px;
    font-weight: 600;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.card_img {
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    height: 260px;
    background-image: url(../img/post-1-img.png);
}

.img2 {
    height: 380px;
    background-image: url(../img/post-2-img.png);
}

.img3 {
    height: 290px;
    background-image: url(../img/post-3-img.png);
}

.img4 {
    height: 260px;
    background-image: url(../img/post-4-img.png);
}

.img5 {
    height: 250px;
    background-image: url(../img/post-5-img.png);
}

.img6 {
    height: 380px;
    background-image: url(../img/post-6-img.png);
}

.clients-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.container-clients {
    padding: 200px 0;
}

.clients-title {
    text-transform: uppercase;
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 63px;
    position: relative;
    padding-bottom: 57px;
}

.clients-title::after {
    content: '';
    height: 3px;
    width: 60px;
    background: #169cb4;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.parallax-section_2::before {
    background-image: url(../img/parallax-section.jpeg);
}

.clients-title {
    text-align: center;
}

.rated-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 54px;
}

.news-box {
    margin-top: 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 0.7fr 1fr 1fr 0.7fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-areas: "news-card1 news-card1 news-card1 news-card2"
                         "news-card3 news-card3 news-card4 news-card4"
                         "news-card5 news-card5 news-card6 news-card6"
                         "news-card7 news-card8 news-card8 news-card8"
}

.news-card1 {
    grid-area: news-card1;
    position: relative;
}

.news-card2 {
    grid-area: news-card2;
}

.news-card3 {
    grid-area: news-card3;
}

.news-card4 {
    grid-area: news-card4;
}

.news-card5 {
    grid-area: news-card5;
}

.news-card6 {
    grid-area: news-card6;
}

.news-card7 {
    grid-area: news-card7;
}

.news-card8 {
    grid-area: news-card8;
    position: relative;
}

.news-text8 {
    width: 356px;
    left: 463px;
    bottom: 85px;
    position: absolute;
}

.news-text1 {
    position: absolute;
    height: 110px;
    width: 353px;
    left: 484px;
    bottom: 163px;
}

.news-text {
    font-weight: 600;
    font-size: 14px;
    color: #5b6469;
    padding: 22px 30px;
    text-align: right;
    line-height: 21px;
}

h4 {
    
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-bottom: 23px;
}

.footer {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #1d2124;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding-left: 55px;
}

.footer-logo {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    position: relative;
    line-height: 15px;
}

.footer-logo::before {
    content: '';
    position: absolute;
    left: -40px;
    height: 24px;
    width: 38px;
    background-image: url(../img/Vector%20Smart%20Object%20copy%203.png);
}
